<div class="container-info">
    <div class="uk-flex uk-flex-center">
        <div uk-grid="" class="uk-grid uk-grid-stack">
            <div class="uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-first-column">
                <div class="box_index_content">
                    <div class="no_grant_info">
                        <div class="uk-text-center well">
                            <img class="img_well" src="{{ url_for('static', filename='images/empty-box.png') }}">
                            <h3>У вас немає прав доступу</h3>
                            <p>
                                Зверніться до адміністратора СІТ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>